@font-face {
    font-family:Roboto-Regular ;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: Roboto-Black;
    src: url(../fonts/Roboto/Roboto-Black.ttf);
}
@font-face {
    font-family: Roboto-LightItalic;
    src: url(../fonts/Roboto/Roboto-LightItalic.ttf);
}
@font-face {
    font-family: Roboto-Bold;
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
}

body {
    background-color: white;
    margin: 0rem;
    font-family: Roboto-Regular;
    text-align: center;
}
header {
    display: flex;
    height: 10%;
    width: 100%;
    align-items: center;
    font-family: Roboto-Black;
    background-color: white;
}
header nav {
    margin-left: 30%
}
header nav li {
    margin-left: 1rem;
    display: inline;
}
header nav li:not(:first-child) {
    padding-left: 1rem;
    border-left: solid black medium;
}
header nav li:last-child {
    margin-right: 1rem;
}
header li a {
    color: black;
    font-size: 1.5rem;
    text-decoration: none;  
}
header img {
    padding: 1rem;
    margin-left: 5rem;
    justify-content: start;
    
}

/* notre vision bandeau */

#notre-vision  {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/image\ header.jpg);
    background-size: cover;
    height: 40rem;
    width: 100%;
}
h1 {
    font-family: Roboto-Regular;
    font-size: 90px;
    width: 70%;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-shadow: 5px 5px 5px gray;
}
#notre-vision a {
    display: flex;
    justify-content:center; 
    font-size: 30px;
    font-family: Roboto-Black;
    text-decoration: none;
    color: white; 
    padding: 20px;
    text-align: center; 
    background-color:deeppink;
    border-radius: 10px;
    width: 300px;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
}
h2 {
    font-size: 2rem;
    font-family: Roboto-Black;
}
h3 {
    font-size: 1.5rem;
    font-family: Roboto-Black;
}
h4 {
    font-family: Roboto-Black;
    font-size: 2rem;
}
h5 {
    font-size: 10px;
    color: black;
    font-family: Roboto-LightItalic;
}

/* notre approche */

.notre-approche {
    font-size: 2rem;
}
#DRH-Salarié {
    display: flex;
    justify-content: center;
    align-items: center; 
}
#DRH-Salarié img{
    width: 40%;
    height: 40%;
}
.vous-etes ul {
    text-align: start;
    list-style: none;
    font-size: 1.5rem;
}

/* la methode pep's est faite pour vous */

.ligne-verte {
    width: 400px;
    height: 20px;
   padding: 3rem;
}
.methode a {
    display: flex;
    justify-content:center; 
    font-size: 20px;
    font-family: Roboto-Black;
    text-decoration: none;
    color: deeppink; 
    text-align: center; 
    background-color:white;
    padding: 10px;
    border-radius: 10px;
    border: deeppink solid;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

/* Principes Pep's */

#principes-peps {
    display: flex;
    justify-content: center;
    align-items: center;
}
#principes-peps img {
    height: 70px;
    width: 70px;
}
.principe1 {
    margin: 5rem;
    width: 30%;
    height: 40%;
    ;
}
.principe2 {
    margin: 5rem;
    width: 30%;
    height: 40%;  
}

/* Nos Accompagnements */

.nos-accompagnements {  
    width: 100%;
    height: 10rem;
}
#decouverte-services-peps {
    display: flex;
    justify-content:center;
    font-family: Roboto-Regular;
}
.peps p {
   font-family: Roboto-Bold;
    font-size: 1.5rem;
}
.peps span1 {
    text-decoration: underline solid 20px rgba(0, 191, 255, 0.572); 
}
.peps span2 {
    text-decoration: underline solid 20px rgba(255, 204, 0, 0.637);
}
.peps span3 {
    text-decoration: underline solid 20px rgba(178, 1, 205, 0.519);
}
.peps {
    margin: 5rem;
    list-style: none;
    
}
.peps li a{
    display: flex;
    justify-content:center; 
    font-size: 20px;
    font-family: Roboto-Black;
    text-decoration: none;
    color: deeppink; 
    text-align: center; 
    background-color:white;
    padding: 10px;
    border-radius: 10px;
    border: deeppink solid;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}
/* <!-- Ils ne regrettent pas --> */
#ils-ne-regrettent-pas {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50rem;
    
}
#ils-ne-regrettent-pas img {
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    height: 20%;
    width: 30%;
}
.temoignage {
    border:solid 1px cyan;
    margin: 2rem;
    width:20%;
    height: 70%;
}
/* Blog */

#super-pouvoirs {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    height: 30rem;
    text-align: left;
    
} 
.super p{
    width: 60rem;
    text-align:left;
    justify-content: center;
}   
#super-pouvoirs img {
    height: 20rem;
    width: 30rem;
    margin: 3rem;
}
.super a {
    display: flex;
    justify-content:center; 
    font-size: 20px;
    font-family: Roboto-Black;
    text-decoration: none;
    color: deeppink; 
    text-align: center; 
    background-color:white;
    padding: 10px;
    border-radius: 10px;
    border: deeppink solid;
    width: 200px;
    margin-top: 2rem;    
} 
#equipe-check {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    height: 30rem;
    text-align: left;
}    
.equipe p{
    width: 60rem;
    text-align:left;
    justify-content: center;
}
    
#equipe-check img {
    height: 20rem;
    width: 30rem;
    margin: 3rem;
}

.equipe a {
    display: flex;
    justify-content:center; 
    font-size: 20px;
    font-family: Roboto-Black;
    text-decoration: none;
    color: deeppink; 
    text-align: center; 
    background-color:white;
    padding: 10px;
    border-radius: 10px;
    border: deeppink solid;
    width: 200px;
    margin-top: 2rem;    
}
/* Footer */
footer {
    height: 20rem;
    background-color: gainsboro;
    align-items: center;
    display: flex;
    justify-content: center;
}
footer img {
    justify-items: left;
    height: 10rem;
    width: 8rem;
    padding-right: 2rem;
    border-right:  1px solid black;
}
.contact {
    justify-content: center;
    text-align: left;
    margin: 2rem;
    list-style: none;
}
footer ul li {
    margin-left: 1rem;
    display: inline;
}
footer ul li:last-child {
    margin-right: 1rem;
}
footer li a {
    color: black;
    font-size: 1rem;
    text-decoration: none;  
}
.mention-legal li {
    display: flex;
    list-style: none;
    display: inline;
}
.mention-legal li:not(:first-child) {
    padding-left: 5px;
    padding-right: 5px;
    border-left: solid black 1px;
}
